/* TODO Remove all temporary borders */

/* CSS is written for mobile first design */

/* #region Common */

:root {
    --color-light-background: #E7ECEF;
    --color-light-blue: #A3CEF1;
    --color-medium-blue: #6096BA;
    --color-grey: #8B8C89;
    --color-dark-blue: #274C77;
    --font-size-small: 0.9rem;
    --font-size-default: 1rem;
    --font-size-large: 1.25rem;
    --font-size-very-large: 1.5rem;
    --font-size-extra-large: 1.9rem;
}

html {
    font-size: 16px;
    /* This is required to offset the scroll when a
    menu link is clicked dues to the fixed navigation header */
    scroll-padding-top: calc(7vw + 2rem);
}

/* Normalization is placed in the all selector as placing it
    in the body selector does not target all elements resulting
    in an inconsistencies when developing a website */
    * {
        box-sizing: border-box;
        float: none;
        margin: 0;
        padding: 0;
        line-height: 1.5;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: normal;
    }

/* Properties set here will be for all link states unless overridden
    later through pseudo selectors which must be in the order
    link, visited, focus, hover, active*/

a {
    color: var(--color-dark-blue);
    text-decoration: none;
    font-size: var(--font-size-default);
}

/* Skip link - position absolute used to move link off screen when not in use */
#skip-link {
    display: inline-block;
    position: absolute;
    left: -50rem;
    top: auto;
    width: 0.1rem;
    height: 0.1rem;
    z-index: -999;
    border: 1px solid red;
}

#skip-link:focus {
    position: fixed;
    left: 2rem;
    top: calc(7vw + 3rem);
    font-weight: bold;
    width: auto;
    height: auto;
    color: #000;
    background: #fff;
    z-index: 100;
}

section {
    display: flex;
    flex-flow: row wrap;
    text-align: center;
    justify-content: center;
    align-content: flex-start;
    min-height: 100vh;
    width: 100%;
    padding-top: 2rem;
    overflow: hidden;
}

section:nth-of-type(odd){
    background: var(--color-light-blue);
}

section:nth-of-type(even){
    background-image: url(../images/section-background-image.jpg);
    background-size: cover;
}

section figure, #contact > article:first-of-type {
    display: flex;
    flex-flow: row wrap;
    align-content: flex-start;
}

section *:not(form *) {
    justify-content: center;
    width: 100%;
}

section blockquote, #about article {
    max-width: 60ch;
}

section blockquote, #about article p {
    text-align: justify;
}


section img:not(h2 *) {
    display: inline-block;
}

h1, h2, h3, h4, figcaption, legend{
    font-weight: bold;
}

h1, h2 {
    display: inline-block;
    color: var(--color-dark-blue);
}

h3, h4 {
    margin-bottom: 1rem;
    font-size: var(--font-size-default);
}

h1 {
    position: relative;
    top: 15.5rem;
    width: 100%;
    font-size: var(--font-size-extra-large);
    text-align: center;
}

h2 {
    margin-bottom: 1.5rem;
    font-size: var(--font-size-very-large);
}

h4 {
    margin-top: 2rem;
}

h2 img {
    display: inline-block;
    position: relative;
    height: 2rem;
}

li {
    list-style-type: none;
}

#services img:not(h2 *), #ourPeople img:not(h2 *) {
    border-top: 0.05rem solid var(--color-grey);
    border-bottom: 0.05rem solid var(--color-grey);
}

/* Services and Our People sections */
section:nth-child(-n+2) figcaption {
    display: inline-block;
    padding: 1rem 1rem 2rem 1rem;
    background: #fff;
}

/* #endregion Common */

/* #region Nav */

nav div {
    display: flex;
    flex-wrap: wrap;
    position: fixed;
    justify-content: space-between;
    align-items: center;
    left: 0;
    top: 0;
    width: 100%;
    height: calc(7vw + 2rem);
    background: #fff;
    z-index: 50;
    padding: 0.1rem 1.3rem;
}

/* Home logo link */
nav div a {
    display: inline-block;
    width: calc(12vw + 7rem);
    padding: 0.5rem 0;
}

/* Home logo link hover underline */
nav div a:hover {
    box-shadow: 0 0.05rem 0 0 var(--color-dark-blue);
    max-width: 100%;
}

/* Logo */
nav div a img {
    display: block;
    width: 100%;
    height: 100%;
}

/* Font size set to 0 so as not to change focus ring */
/* Make 'Home' text invisible but still accessible to screen readers */
nav div a p {
    font-size: 0;
    color: transparent;
}

/* Show menu button if JavaScript has loaded and is enabled */
/* Font size is 0 so as not to change focus area. This means
    width has to use rem for as em's has no reference */
.js #menu-button {
    display: inline-block;
    position: relative;
    color: transparent;
    width: calc(7vw + 0.5rem);
    height: calc(7vw + 0.5rem);
    overflow: hidden;
    background: url("../images/menu.svg");
    background-size: cover;
    border: none;
    font-size: 0;
    z-index: 70;
}

nav ul {
    margin-top: calc(7vw + 2rem);
}

/* Nav link style when JavaScript unavailable */
nav ul li {
    width: 100%;
    padding: 0.3rem;
    background: var(--color-dark-blue);
}

nav ul li a {
    display: inline-block;
    color: #fff;
    text-align: center;
    padding: 0.5rem;
    width: 100%;
    font-weight: bold;
}

/* Link pseudo selectors must be in the order
    link, visited, focus, hover, active*/

nav ul li a:hover {
    background: var(--color-medium-blue);
}

nav ul li a:active {
    color: var(--color-dark-blue);
    background: #fff;
}

/* Initially hide menu links if JavaScript has loaded */
.js nav ul {
    display: none;
}

/* Menu opened by menu button when JavaScrip is loaded */
nav ul.menu-open {
    display: inline-block;
    position: fixed;
    right: 0;
    top: 0;
    width: 12rem;
    z-index: 20;
}

/* #endregion Nav */

/* #region Header */

header {
    background-image: url(../images/header-background-image.jpg);
    height: 22rem;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-bottom: 7rem solid #fff;
    z-index: 10;
}

.js header {
    margin-top: calc(7vw + 2rem);
}

/* #endregion header */

/* #region Services */

#services blockquote {
    margin: 0 auto;
}

#services p {
    margin-bottom: 1.5rem;
}

/* #endregion Services */

/* #region About */

#about article {
    padding: 2rem 1rem;
}

/* #endregion About */

/* #region Testimonials */

#testimonials figure {
    margin-bottom: 2.5rem;
}

#testimonials blockquote {
    padding: 0 1rem 1rem 1rem;
    margin: 0 auto;
    font-style: italic;
}

/* #endregion Testimonials */

/* #region Contact */

#contact {
    padding-bottom: 4rem;
    align-content: center;
}

#contact form, #contact article{
    max-width: 100%;
}

#contact hr {
    margin: 2rem auto;
    max-width: 40rem;
}

#contact fieldset {
    padding: 1rem;
    text-align: left;
    border: none;
}

#contact legend {
    margin-left: 1rem;
}

#contact label {
    display: block;
    max-width: 97%;
    margin-bottom: 1.5rem;
}

#contact input:not([type=checkbox]), #contact textarea {
    display: inline-block;
    width: 100%;
    margin-top: 0.5rem;
    padding: 0.25rem;
    font-size: var(--font-size-default);
    border: 0.1rem solid var(--color-grey);
}

#contact input[type=checkbox] {
    margin: 0 0.5rem;
    transform: scale(1.4);
}

#contact textarea {
    min-height: 6rem;
    max-height: 20rem;
    resize: vertical;
}

#contact button {
    display: block;
    width: 10rem;
    height: 2.5rem;
    margin: 0 auto 0.75rem auto;
    border: 0.15rem solid var(--color-grey);
    border-radius: 2.5rem;
    color: #000;
    background-color: #fff;
    font-size: var(--font-size-default);
    font-weight: bold;
}

#contact article img {
    margin-bottom: 1.5rem;
}

/* Location map */
#contact figcaption {
    text-align: right;
    padding-right: 3rem;
    font-weight: normal;
}

/* Contact details */
#contact > article:last-of-type {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
}

#contact > article:last-of-type > * {
    display: inline-block;
}

#contact article:last-of-type article > *{
    text-align: left;
}

#contact article:first-of-type a {
    box-shadow: 0 0.1rem 0 0 var(--color-dark-blue);
}

#contact article:first-of-type a:hover {
    background-color: var(--color-light-background);
}

#contact input:required:valid {
    background-image: url(../images/tick-icon.svg);
    background-size: 3%;
    background-position: top 50% right 1%;
    background-repeat: no-repeat;
}

#contact input:required:invalid, input:focus:invalid {
    background-image: url(../images/cross-icon.svg);
    background-size: 3%;
    background-position: top 50% right 1%;
    background-repeat: no-repeat;
}

/* #endregion Contact */

/* #region Footer */

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4rem;
    width: 100%;
    color: #fff;
    background: var(--color-dark-blue);
}

footer p {
    font-size: var(--font-size-default);
}

/* #endregion Footer */

/* #region Media queries */

/* 320px */
@media all and (min-width: 20rem) {
    html {
        font-size: calc(1rem + 6 * ((100vw - 20rem) / 680));
    }
}

/* 1000px */
@media all and (min-width: 62.5rem) {

        /* This is required to offset the scroll when a
    menu link is clicked dues to the fixed header */
    html {
        scroll-padding-top: 5rem;
        font-size: 1.4rem;
    }

    nav button {
        display: none;
    }

    nav {
        display: flex;
        flex-wrap: wrap;
        position: fixed;
        justify-content: space-between;
        align-items: center;
        left: 0;
        top: 0;
        width: 100%;
        height: 5rem;
        background: #fff;
        z-index: 40;
        padding: 0.1rem 0.2rem 0.1rem 1rem
    }

    /* Logo */
    nav div {
        display: inline-block;
        flex: 0.3 0 7rem;
        position: relative;
        height: fit-content;
        max-width: 12rem;
        padding: 0;
        margin: 0;
    }

    nav div a {
        width: 100%;
        height: 100%;
        align-self: center;
        z-index: 60;
    }

    nav ul {
        flex: 0.2 0 35.5rem;
        display: flex;
        flex-wrap: nowrap;
        justify-content: flex-end;
        align-items: center;
        margin: 0;
        background-color: white;
    }

    nav ul li {
        background: #fff;
    }

    nav ul li a {
        color: var(--color-dark-blue);
    }

    nav ul li a:hover {
        color: #fff;
        background: var(--color-dark-blue);
    }


    nav ul li a:active {
        color: #fff;
        background: var(--color-medium-blue);
    }

    header {
        margin-top: 5rem;
        border: none;
        height: 15rem;
    }

    h1 {
        display: inline;
        left: calc(30% - 8.5em);
        top: 3rem;
        font-size: var(--font-size-very-large);
        z-index: 30;
    }

    section {
        margin: 0 auto;
        padding: 3rem 10%;
    }

    #services figure {
        flex: 0 0 100%;
        margin: 0;
        padding: 0.3rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1.5rem 0;
    }

    #services img:not(h2 *) {
        width: 50%;
        border: none;
    }

    #services figcaption {
        width: calc(50% - 1.5rem);
        margin-left: 1.5rem;
        background: none;
    }

    #services blockquote {
        margin-top: 1rem;
    }

    #ourPeople {
        justify-content: flex-start;
    }

    #ourPeople figure {
        flex: 0 0 calc(25%);
        padding: 0.3rem;
    }

    #ourPeople img:not(h2 *) {
        border: none;
    }

    #about {
        align-items: center;
    }

    #about aside {
        flex: 0 0 40%;
        margin: 0;
    }

    #about article {
        flex: 0 0 calc(60% - 2rem);
        margin-left: 2rem;
        max-width: 40ch;
    }

    /* Required to match fixed footer height */
    #contact {
        margin-bottom: 4rem;
    }

    #contact fieldset {
        border: 1px solid var(--color-dark-blue);
        border-radius: 1rem;
        padding: 2rem;
        max-width: 43rem;
        margin: 0 auto;
    }

    #contact legend {
        margin: 0;
        padding: 0 1rem;
    }

    #contact label {
        max-width: 100%;
    }

    footer {
        position: fixed;
        left: 0;
        bottom: 0;
    }
}

/* 1200px */
@media all and (min-width: 75rem) {

    #contact form {
        flex: 0 0 100%;
        margin-bottom: 4rem;
    }

    #contact article {
        width: fit-content;
        flex: 0 0 calc(50% - 2rem);
    }

    #contact article:first-of-type {
        margin-right: 2rem;
    }

    /* Location map */
    #contact article img {
        height: 25rem;
        margin-top: 1rem;
        object-fit: none;
    }

    /* Location map attribution */
    #contact article figcaption {
        padding-right: 0;
        text-align: center;
    }

    #contact hr {
        display: none;
    }

    #contact article h3 {
        margin-top: 0;
    }
}

/* #endregion Media queries */